body {
  margin: 0;
  padding: 3px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#homeMessage h1 {
  font-size: 18px;
  font-weight: normal;
}

#homeMessage h2 {
  font-size: 18px;
  color: #5B3770;
  font-weight: bold;
}

#map {
  width: 100%;
  height: calc(100vh - 300px);
  /* This calculation is intended to make the map on the homepage as big 
  as possible, allowing for the header and three categories to be on the screen, 
  which happen to have a height of 300px. 
  If this height changes, also change the findMapBounds function 
  in SimpleMap.js accordingly */
}

.muralLabel {
  background-color: #5B3770;
  border-radius: 3px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  color: white;
  width: -moz-max-content;
  width: -webkit-max-content;
  height: -moz-max-content;
  height: -webkit-max-content;
}

.muralLabelContainer {
  position: absolute;
  width: 20px;
  height: 20px;
  left: -10px;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categorySelector {
  float: left;
}

.categoryItem {
  float: left;
  clear: left;
}

.muralImage {
  width: 400px;
  height: 400px;
}

.header {
  padding: 25px;
  border-bottom: solid gray 1px;
}

.headerImage {
  width: 50px;
  height: 50px;
  transform: rotate(30deg);
}

.menuIcon {
  width: 30px;
  height: 30px;
  float: left;
}

.centeringDiv {
  width: 30px;
  height: 30px;
  float: right;
}
